.menu-toggle {
	position: relative;
	margin-left: auto;
	display: block;
	cursor: pointer;
	height: 40px;
	width: 40px;
	z-index: 99999;

	.open,
	.close {
		color: $green;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);

		svg {
			display: block;
		}
	}

	.open {
		transform: translateX(-50%) translateY(-50%) scale(1);
		opacity: 1;
		transition: .3s;
	}

	.close {
		transform: translateX(-50%) translateY(-50%) scale(.5);
		opacity: 0;
		transition: .3s;
	}

	.mobile-nav-open & {
		.open {
			opacity: 0;
			transform: translateX(-50%) translateY(-50%) scale(.5);
			transition: .3s;
		}

		.close {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%) scale(1);
			transition: .3s;
		}
	}
}

// header and nav
[role="banner"] {
	position: relative;
	z-index: 10;

	.superheader {
		background-color: $green;
		padding: 10px 0;

		.social-icon {
			display: block;
			margin-left: 10px;
			color: #fff;

			svg {
				display: block;
			}
		}

		.inner {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}
	}

	.logo {
		position: relative;
		width: 200px;

		svg {
			display: block;
			width: 100%;
		}
	}

	// nav
	.mobile-nav-open & {
		.cw-nav-cont {
			[role="navigation"] {
				.menu {
					visibility: visible;
					opacity: 1;
					z-index: 9999;
					transition: visibility 0s 0s, opacity .5s 0s, z-index 0s 0s;
				}
			}
		}
	}

	.cw-nav-cont {
		position: relative;
		padding: 15px 0;
		background-color: rgba(#fff, 0);
		transition: background-color .3s;

		[role="navigation"] {
			.menu {
				position: fixed;

				display: flex;
				flex-direction: column;
				align-items: flex-end;

				opacity: 0;
				visibility: hidden;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				overflow: hidden;

				transition: visibility 0s .5s, opacity .5s 0s, z-index 0s .5s;
				background: linear-gradient(45deg, darken($blue, 25%), $blue);
				background-color: #fff;
				background-size: cover;
				margin: 0;
				padding: 90px 50px 30px 0;
				overflow-y: auto;
				z-index: -1;

				.menu-item {
					position: relative;
					display: block;
					margin-bottom: 10px;

					&.current-menu-item,
					&.current-menu-ancestor,
					&.current-menu-parent {
						>a {
							background-color: #fff;
							color: $blue;
						}
					}

					a {
						padding: 5px 15px;
						font-family: $accentFont;
						line-height: 1.1;
						border-radius: 99px;
						white-space: nowrap;
						color: #fff;
					}

					.sub-menu {
						position: relative;
						display: block;
						top: auto;
						left: auto;
						margin: 0;
						padding: 0;
						background-color: #f4f4f4;
						z-index: 9999;

						.menu-item {
							a {
								display: block;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
	}
}

@media all and (min-width: $smlWidth) {
	html.no-touch {
		.menu-toggle {
			display: none;
		}

		[role="banner"] {
			.cw-nav-cont {
				position: absolute;
				left: 0;
				top: 100%;
				width: 100vw;

				&.stick {
					position: fixed;
					top: 0;
					left: 0;
					width: 100vw;
					background-color: rgba(#fff, .9);
					transition: background-color .3s;
				}

				[role="navigation"] {
					.menu {
						position: relative;
						width: auto;
						height: auto;
						left: auto;
						
						flex-direction: row;
						align-items: center;
						justify-content: flex-end;

						background-color: transparent;
						margin: 0;
						top: auto;
						padding: 0;
						visibility: visible;
						opacity: 1;
						z-index: 1;
						background: none;
						overflow: visible;
						transform: translateY(0);

						&.open {
							width: auto;
						}

						.menu-item {
							display: block;
							margin-right: 15px;
							margin-bottom: 0;

							&:last-child {
								margin-right: 0;
							}

							&:hover {
								>a {
									background-color: #fff;
								}

								 >.sub-menu {
									visibility: visible;
									opacity: 1;
									transition: .5s;
								}
							}

							&.current-menu-item,
							&.current-menu-ancestor,
							&.current-menu-parent {
								>a {
									color: $green
								}
							}

							a {
								color: $green;
							}

							.sub-menu {
								position: absolute;
								visibility: hidden;
								opacity: 0;
								top: 100%;
								left: 0;
								margin: 0;
								padding: 0;
								transition: .5s;

								.menu-item {
									a {
										
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// @media all and (min-width: $medWidth) {

// }