.page-header {
    position: relative;
    height: 250px;
    overflow: hidden;
    margin-bottom: 75px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    &.noimg {
        height: 0;
    }
}

@media all and (min-width: $smlWidth) {
    .page-header {
        margin-bottom: 180px;
        height: 450px;

        &.noimg {
            height: 0;
        }
    }
}