@keyframes loading {
	0% {
		transform: translateX(-200%);
	}

	100% {
		transform: translateX(200%);
	}
}

.cw-slideshow {
	position: relative;
	z-index: 2;
	height: 60vh;
	background-color: #fff;
	margin-bottom: 150px;

	.down-arrow {
		display: none;
		// position: absolute;
		// bottom: 15px;
		// cursor: pointer;
		// width: 30px;
		// height: 30px;
		// left: 50%;
		// transform: translate(-50%, 0);
		// background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.71 33.03'%3E%3Ctitle%3Enext%3C/title%3E%3Cpolygon points='0 0 0 33.03 31.71 16.51 0 0' style='fill:%23e6e6e6'/%3E%3C/svg%3E");
		// background-size: contain;
		// background-repeat: no-repeat;
		// transform: rotate(90deg);
		// z-index: 2;
		// opacity: 0.5;
		// transition: opacity .3s;

		// &:hover {
		// 	opacity: 0.9;
		// 	transition: opacity .3s;
		// }
	}

	.loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
		overflow: hidden;
		z-index: 10;

		&:before,
		&:after {
			@include beforeafter;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;

		}

		&:before {
			background-color: #ccc;
			box-shadow: -10px 0 0 0 rgba(#ccc, .5);
			animation-name: loading;
			animation-duration: 1.5s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-direction: normal;
			@include hardware;
		}

		&:after {
			background-color: #989898;
			box-shadow: -10px 0 0 0 rgba(#989898, .5);
			animation-name: loading;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-direction: normal;
			@include hardware;
		}
	}

	.VueCarousel {
		position: relative;
		z-index: 1;

		.VueCarousel-slide {
			position: relative;
			text-align: left;
			overflow: hidden;
			height: 60vh;

			.image-mother {
				position: relative;
				width: 100%;
				height: 100%;
				z-index: 1;

				.inner {
					position: relative;
					width: 100%;
					height: 100%;
					z-index: 1;

					img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.cover {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(to bottom, rgba(#fff, .5), rgba(#fff, 0));
					z-index: 2;
				}
			}

			.slide-words {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;

				.inner {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					text-align: center;
					background-color: rgba(#000, .2);
					padding: 30px;
					font-size: .75em;
				}

				.slide-title {
					text-align: center;
					color: #fff;
				}

				.slide-caption {
					text-align: center;
					color: #fff;

				}
			}

			// &.VueCarousel-slide-active {
			// 	.slide-words {
			// 		.slide-title {}

			// 		.slide-caption {}
			// 	}
			// }
		}

		.VueCarousel-navigation-button {
			display: block;

			&.VueCarousel-navigation-prev,
			&.VueCarousel-navigation-next {
				display: block;
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
				text-indent: -9999px;
				text-align: left;
				z-index: 9999;
				box-shadow: none;
				padding: 0;
				width: 30px;
				height: 30px;
				opacity: .5;
				border-radius: 0;

				&:hover {
					opacity: .9;
					background-color: transparent;
				}
			}

			&.VueCarousel-navigation-prev {
				left: 15px;
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.71 33.03'%3E%3Ctitle%3Eprev%3C/title%3E%3Cpolygon points='31.71 0 31.71 33.03 0 16.51 31.71 0' style='fill:%23e6e6e6'/%3E%3C/svg%3E");
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.VueCarousel-navigation-next {
				right: 15px;
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.71 33.03'%3E%3Ctitle%3Enext%3C/title%3E%3Cpolygon points='0 0 0 33.03 31.71 16.51 0 0' style='fill:%23e6e6e6'/%3E%3C/svg%3E");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		.VueCarousel-pagination {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 15px;

			.VueCarousel-dot-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				margin-top: 0!important;

				.VueCarousel-dot {
					display: block;
					background-color: #fff!important;
					box-shadow: 0 2px 4px 0 rgba(#000, .5);
					opacity: 0.5;
					transition: .3s;
					padding: 0!important;
					margin: 0 10px!important;

					&.VueCarousel-dot--active {
						background-color: #fff !important;
						opacity: 1;
						transition: .3s;
					}
				}
			}
		}
	}
}

@media all and (min-width: $smlWidth) {
	.cw-slideshow {
		.VueCarousel {
			.VueCarousel-slide {
				.slide-words {
					.inner {
						font-size: .875em;
					}
				}
			}
		}
	}
}

@media all and (min-width: $medWidth) {
	.cw-slideshow {
		.VueCarousel {
			.VueCarousel-slide {
				.slide-words {
					.inner {
						font-size: 1em;
					}
				}
			}
		}
	}
}