.comments-area {
    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 30px;

            ol {
                padding-left: 30px;

                li {
                    margin-bottom: 0;
                }
            }
        }
    }

    .comments-title-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;

        .comments-title {
            margin-right: 30px;
        }

        .discussion-avatar-list {
            display: flex;
            flex-direction: row;
            align-items: center;

            li {
                margin-bottom: 0;
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .comment-list {
        .comment {
            margin: 15px 0;

            .comment-body {
                padding: 15px;
                box-shadow: -1px 1px 0 0 #ccc;

                .comment-author {
                    position: relative;

                    img {
                        margin-right: 15px;
                    }

                    .post-author-badge {
                        display: block;
                        position: absolute;
                        top: -5px;
                        left: 45px;
                        background-color: #e0e0e0;
                        width: 25px;
                        height: 25px;
                        border-radius: 25px;

                        svg {
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }

                .comment-metadata {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 15px;

                    .edit-link {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                }

                .comment-content {
                    
                }
            }
        }
    }
}

.comment-form-flex {
    display: flex;
    flex-direction: column;

    .comments-title {
        order: 1;
        margin-bottom: 15px;
    }

    .comment-respond {
        order: 2;

        .comment-form {
            .comment-form-comment {
                display: flex;
                flex-direction: column;
            }
        }
    }
}