// search
[role="search"]#searchform_js {
	position: relative;

	input[type="text"] {
		width: 100%;
	}

	.input-mother {
		position: relative;

		.reset {
			position: absolute;
			right: 10px;
			top: 50%;
			cursor: pointer;
			transform: translate(0, -50%);
		}
	}

	.more-links {
		.more-results, .no-results {
			padding: 2px 10px;
		}

		.more-results {
			background-color: $linkColor;
			color: #fff;
			display: block;

			&:hover {
				background-color: $linkHover;
			}
		}
	}

	.search-results {
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: #fff;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);

		.result {
			position: relative;
			margin-bottom: 15px;
			padding: 2px 10px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				display: block;
				box-shadow: none;
			}

			&:hover {
				&:after {
					height: 4px;
					transition: .25s;
				}
			}

			&:after {
				position: absolute;
				display: block;
				content: '';
				background-color: #333;
				left: 0;
				top: 100%;
				width: 100%;
				height: 0;
				transition: .25s;
			}
		}
	}
}

[role="main"] {
	.search {
		margin-bottom: 75px;

		.search-result {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid rgba(#000, .1);
		}
	}
}

// @media all and (min-width: $smlWidth) {

// }

// @media all and (min-width: $medWidth) {

// }