h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: $mainFont;

	&.page-title {
		font-family: $accentFont;
		color: $blue;
		font-size: 2.25em;
		line-height: 1.2;
		font-weight: 400;
	}

	&.big {
		font-size: 2.5em;
		line-height: 1.2;
		font-weight: 400;
	}

	&.large {
		line-height: 1.2;
		font-weight: 400;		
	}

	&.accentfont {
		font-family: $accentFont;
		font-weight: 400;
	}

	&.section-title {
		font-family: $accentFont;
		font-weight: 400;
		color: $blue;
		margin-bottom: 30px;
		font-size: 2.8125em;
	}

	&.mini-title {
		margin: 30px 0;
	}
}

h1 {
	font-size: 1em;

	&.tribe-events-single-event-title {
		font-size: 2em;
	}
}

h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
}
h6 {
	font-size: 1em;
}

p, li  {
	font-size: 1em;
	color: $fontColor;
}

p {
	margin: 0 0 1em 0;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	transition: .25s;
	text-decoration: none;

	&:hover {
		color: $linkHover;
		transition: .25s;
		text-decoration: none;
	}

	.grey-links & {
		color: $grey;
	}
}

hr {
	border: none;
	border-bottom: 1px solid rgba(#000, .1);
	margin: 15px 0;
}

blockquote {
	margin: 0;
	padding-right: 30px;
	color: $green1;
	line-height: 1.8;
	font-size: 1.25em;

	* {
		color: $green1;
	}
}

.no_bottom_marg {
	margin-bottom: 0;
}

.italic-text {
	font-style: italic;
}

.bold-text {
	font-weight: 900;
}

.centered-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.left-text {
	text-align: left;
}

.green-text {
	color: $green;
}

.white-text {
	color: #fff;
}

.grey-text {
	color: $fontColor;

	* {
		color: $fontColor;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.readmore-arrow a {
	position: relative;
	padding-left: 23px;

	&:before {
		@include beforeafter;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 9px 0 9px 16px;
		border-color: transparent transparent transparent $green;
	}
}

@media all and (min-width: $smlWidth) {
	h1, h2, h3, h4, h5, h6 {
		&.page-title {
			font-size: 2.5em;
		}
		&.big {
			font-size: 3em;
		}
		&.large {
			font-size: 2.75em;
		}
	}

	blockquote {
		padding-right: 25%;
	}
}

@media all and (min-width: $medWidth) {
	h1, h2, h3, h4, h5, h6 {
		&.page-title {
			font-size: 2.75em;
		}
		&.big {
			font-size: 5em;
		}
		&.large {
			font-size: 3.125em;
		}
	}
}
