// tribe events overrides
.tribe-events-schedule h2 {
	font-size: 16px;
}

.tribe-events-event-image img {
	display: block;
	width: 100%;
	height: auto;
}

.tribe-events-event-url a, .tribe-venue-url a {
	display: block;
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
}

// gravity forms overrides
.gform_wrapper .ginput_complex.ginput_container {
	overflow: visible!important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
	.gform_wrapper & {
		padding: 10px!important;
		line-height: 1.3!important;
	}
}

// smash balloon facebook overrides
.cff-likebox {
	margin-left: 0!important;
}

// @media all and (min-width: $smlWidth) {

// }

// @media all and (min-width: $medWidth) {

// }