.post-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(#000, .1);

    .top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-size: .875em;
        margin-bottom: 10px;

        * {
            color: $fontColor;
        }

        p {
            margin-bottom: 0;
        }

        .tags {
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }

    .info {
        margin-bottom: 15px;
    }

    .button {
        margin-left: auto;
    }
}

.research-meta {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: .875em;
    margin-bottom: 30px;

    * {
        color: $fontColor;
    }

    p {
        margin-bottom: 0;
    }

    .tags {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}


@media all and (min-width: $smlWidth) {
    .post-list-item {
        flex-direction: row;

        .info {
            width: 66.6666%;
            margin-bottom: 0;
        }
    }
}