.cwparallax {
    position: relative;

    .prlx-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100vw;
        z-index: -1;
        background-size: cover;
        background-position: 50% 100%;
        // transition: background-position .1s;
    }
}