.cw-accordion {
	margin-bottom: 30px;
	overflow: hidden;

	&:last-child {
		margin-bottom: 0;
	}

	.faq {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.cwa-section-header {
		position: relative;
		cursor: pointer;
		overflow: hidden;
		transition: .25s;

		&.open-header, &:hover {
			color: red;
		}

		&.open-header {
			&:after {
				@include beforeafter(inline-block, relative, '\f068');
				font-family: 'Font Awesome 5 Pro';
			}
		}

		&:after {
			@include beforeafter(inline-block, relative, '\f067');
			font-family: 'Font Awesome 5 Pro';
			padding-left: 10px;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
		}
	}

	.cwa-section-content {
		background-color: #f4f4f4;
		height: 0;
		overflow: hidden;
		transition: height .3s;

		.inner {
			padding: 15px;
		}

		&.open-tab {
			display: block;
		}
	}
}

// @media all and (min-width: $smlWidth) {

// }

// @media all and (min-width: $medWidth) {

// }