.schedule-container {
	.schedule {
		.day {
			margin-bottom: 30px;

			.time {
				padding: 5px 0;

				&:nth-child(odd) {
					background-color: #f4f4f4;
				}

				.sched-title {
					display: inline-block;
					cursor: pointer;
					color: $linkColor;
					transition: .25s;

					&:hover {
						color: $linkHover;
						transition: .25s;
					}
				}
			}
		}
	}
}

.sched-content-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	opacity: 0;
	transition: .5s;
	background-color: rgba(0, 0, 0, .875);
	z-index: 9999;

	.sched-content {
		padding: 15px 60px 15px 15px;
		background-color: #fff;
	}

	.sched-content {
		position: absolute;
		border-radius: 20px;
		overflow: hidden;
		top: 50%;
		left: 12.5%;
		width: 75vw;
		max-width: 1200px;
		perspective-origin: 50% 50%;
		transform: perspective(1000px) translateY(-75%) scale(.95) rotateX(30deg);
		box-shadow: 0, 0, 20px, 0, rgba(0, 0, 0, .5);
		-webkit-backface-visibility: hidden;
		transition: .5s;

		.loc-gallery {
			li {
				img {
					width: 100%;
				}
			}
		}

		.title {
			position: absolute;
			top: 10px;
			left: 20px;
			z-index: 2;
			color: #fff;
			text-shadow: 0 0 5px rgba(0, 0, 0, .5);
		}

		.close-gal {
			position: absolute;
			display: block;
			cursor: pointer;
			height: 40px;
			width: 40px;
			top: 10px;
			right: 10px;
			z-index: 1;
			border-radius: 40px;
			background-color: #f4f4f4;
			transform: scale(1);
			transition: .25s;

			&:hover {
				transform: scale(1.1);
				transition: .25s;
			}

			.fa-times {
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}

	&.show {
		visibility: visible;
		opacity: 1;
		-webkit-backface-visibility: hidden;
		transition: .5s;

		.sched-content {
			-webkit-backface-visibility: hidden;
			perspective-origin: 50% 50%;
			transform: perspective(1000px) translateY(-50%) scale(1) rotateX(0);
			transition: .5s;
		}
	}
}

// @media all and (min-width: $smlWidth) {

// }

// @media all and (min-width: $medWidth) {

// }