.widget-area {
    background-color: #fff;
    padding: 30px 0;

    .widget {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(#000, .1);
        padding-left: 30px;
        padding-right: 30px;
    }

    .widget-title {
        color: $green;
    }

    .widget_categories {
        .cat-item {
            a {
                color: $fontColor;
            }
        }
    }

    .widget_archive {
        a {
            color: $fontColor;
        }
    }
}

// @media all and (min-width: $smlWidth) {

// }

// @media all and (min-width: $medWidth) {

// }