// footer
[role="contentinfo"] {
	background-color: $blue;
	padding-top: 30px;
	padding-bottom: 30px;

	* {
		text-align: center;
		color: #fff;
		font-family: $accentFont;
	}

	.footer-title {
		margin-bottom: 15px;
	}

	a:hover {
		color: #fff;
		text-decoration: underline;
	}

	.contact-info {
		margin-bottom: 15px;

		.address {
			small {
				display: none;
			}
		}
	}

	.social-links {
		margin-bottom: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.social-icon {
			display: block;
			margin-right: 15px;

			svg {
				display: block;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media all and (min-width: $smlWidth) {
	// footer
	[role="contentinfo"] {
		padding-top: 75px;
		padding-bottom: 75px;

		.footer-title {
			margin-bottom: 30px;
		}

		.contact-info {
			margin-bottom: 30px;
			display: flex;
			flex-direction: row;
			justify-content: center;

			p {
				margin-bottom: 0;
			}

			.address-mother, .phone, .email {
				width: 33.333%;
				padding: 0 30px;
			}

			.phone {
				text-align: right;
			}

			.email {
				text-align: left;
			}
		}

		.social-links {
			margin-bottom: 30px;
		}
	}
}

// @media all and (min-width: $medWidth) {

// }