::-webkit-input-placeholder {
   color: $fontColor;
}

:-moz-placeholder { /* Firefox 18- */
   color: $fontColor;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $fontColor;
}

:-ms-input-placeholder {  
   color: $fontColor;
}

$inputBg: #e6e6e6;

input[type="text"],
input[type="email"],
input[type="submit"],
input[type="password"],
input[type="tel"],
input[type="button"],
button,
select,
textarea {
	border: 0;
	outline: none!important;
	-webkit-appearance: none;
	border-radius: 99px;

	.gform_wrapper & {
		border: 0!important;
	}
}

input[type="submit"],
input[type="button"],
button:not(.VueCarousel-dot),
.button,
.wp-block-button__link {
	display: inline-block;
	background-color: $blue;
	border-radius: 99px;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: .25s;
	font-family: $accentFont;
	font-size: 0.875em;
	line-height: 1.2;
	cursor: pointer;

	&.white {
		background-color: #fff;
		color: $linkColor;
	}

	&.small {
		padding: 5px 10px;
		font-size: .875em;
	}

	&:hover {
		background-color: $linkColor;
		color: #fff;
		transition: .25s;
	}
}

input[type="file"] {

}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
	box-shadow: 0 0 0 1px #ccc inset;
	transition: .25s;
	padding: 10px 20px;
	background-color: $inputBg;
	line-height: 1.3;

	&:hover, &:focus {
		box-shadow: 0 0 0 2px #ccc inset;
		transition: .25s;
	}

	.gform_wrapper & {
		padding: 10px!important;
		line-height: 1.3!important;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"], {

}

textarea {

}

select {
	border-radius: 0;
	background-image: url(../../src/img/select-down.png);
	background-position: right 20px center;
	background-size: 10px 5px;
	background-repeat: no-repeat;
	background-color: $inputBg;
	padding-right: 30px;
	border-radius: 99px;
	color: $fontColor;

	&[multiple="multiple"] {
		background: none;
		background-color: $inputBg;
	}

	&.ui-datepicker-month,
	&.ui-datepicker-year {
		background: none;
		box-shadow: 0 0 0 0 $fontColor;

		&:hover, &:focus {
			box-shadow: 0 0 0 0 $fontColor;
		}	
	}
}

// @media all and (min-width: $smlWidth) {

// }

// @media all and (min-width: $medWidth) {

// }