// vendor
@import "../../node_modules/normalize.css/normalize.css";
@import "gravityforms";
@import "wordpress";
// @import "lightbox";

// grid
$bigWidth: 1200px;
$medWidth: 1024px;
$smlWidth: 768px;
$padding: 15px;
$columns: 12;

// color
$green1: #909e02;
$green2: #67873a;
$green3: #5b6c1a;

$green: $green2;

$blue: #53777a;
$grey: #808080;
$liteGrey: #f1f3f7;

$linkColor: $green2;
$linkHover: $green2;
$fontColor: $grey;

// fonts
$accentFont: 'open-sans', sans-serif;; 
$mainFont: 'cardo', serif; 

// cw utils
@import "cw-grid";
@import "cw-utilities";
@import "cw-mixins";

// defaults
@import "cw-typography";
@import "cw-inputs";
@import "cw-media";
@import "cw-plugin-overrides";

// components, post types
// @import "cw-alerts";
// @import "cw-classes";
// @import "cw-columns";
@import "cw-discussion";
// @import "cw-faqs";
@import "cw-footer";
// @import "cw-galleries";
// @import "cw-hours";
// @import "cw-locations";
// @import "cw-maps";
@import "cw-navigation";
@import "cw-newsgrid";
@import "cw-pageheader";
// @import "cw-pagination";
@import "cw-parallax";
// @import "cw-plugin-overrides";
@import "cw-posts";
// @import "cw-promos";
@import "cw-search";
@import "cw-sidebar";
@import "cw-slideshow";
@import "cw-staff";
// @import "cw-testimonials";
// @import "cw-wpgallery-responsive-flex";
@import "cw-fourofour";