.staff-list {
	.staff-content {
		display: flex;
		flex-direction: row;
		align-items: center;

		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: solid 1px blue;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}

		.img-cont {
			width: 300px;
			max-width: 50%;

			img {
				display: block;
				width: 100%;
			}
		}

		.info {
			padding-left: 30px;

			.staff-title {
				margin-bottom: 15px;
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

.single-staff {
	margin-bottom: 75px;
}

.staff-from-sc {
	&.cat-oncology,
	&.cat-dermatology {
		.staff-content {
			.staff-name, .staff-title {
				text-align: left;

				a {
					color: $fontColor;

					&:hover {
						color: $green;
					}
				}
			}
		}
	}

	.staff-content {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(#000, .1);
		opacity: 1;
		transition: .3s;

		.staff-name, .staff-title {
			text-align: center;
		}

		.staff-name {
			color: $green;
		}

		.bio {
			margin-bottom: 15px;
			overflow: hidden;
			transition: height .3s;
		}

		.readmore {
			cursor: pointer;
			color: $linkColor;
		}
	}
}

@media all and (min-width: $smlWidth) {
	.single-staff {
		margin-bottom: 150px;
	}

	.staff-from-sc {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 45px;
		grid-column-gap: 90px;

		&.cat-oncology,
		&.cat-dermatology {
			grid-template-columns: repeat(3, 1fr);
		}

		&.number-1 {
			grid-template-columns: repeat(1, 1fr);
		}

		&.number-3, &.number-6 {
			grid-template-columns: repeat(3, 1fr);
		}

		&.expanded {
			grid-template-columns: repeat(1, 1fr);
		}

		.staff-content {
			position: relative;
			width:100%;
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
			transition: width 0s, opacity .3s;

			&.hidden {
				position: absolute;
				opacity: 0;
				transition: width 0s, opacity 0s;
				z-index: -1;
			}

			&.expanded {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding-left: 0;
				padding-right: 0;
				transition: width .3s, opacity .3s;
				z-index: 1;

				.readmore.low {
					position: relative;
					top: auto;
					left: auto;
					width: auto;
					height: auto;
					opacity: 1;
				}
			}

			.readmore.low {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				opacity: 0;
			}
		}
	}
}