.news-grid {
    .news-grid-item {
        margin-bottom: 30px;

        .img-mother {
            position: relative;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            background-color: $liteGrey;

            .inner {
                padding: 15px;

                .categories {
                    .term-link {
                        color: $blue;
                    }
                }
            }
        }
    }
}

@media all and (min-width: $smlWidth) {
    .news-grid {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);

        .news-grid-item {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            margin-bottom: 0;

            .img-mother {
                width: 33.3333%;

                &.noimg {
                    background-color: grey;
                }
            }

            .info {
                width: 50%;
                flex: 1;

                .inner {
                    padding: 30px;

                    .article-title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2; /* number of lines to show */
                    }

                    .excerpt {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3; /* number of lines to show */
                    }
                }
            }

            &:nth-of-type(odd) {
                .img-mother {
                    order: 1;
                }

                .info {
                    order: 2;
                }
            }

            &:nth-of-type(even) {
                .img-mother {
                    order: 2;
                }

                .info {
                    order: 1;
                }
            }
        }
    }

}

// @media all and (min-width: $medWidth) {

// }