.testimonials {
	margin-bottom: 30px;

	.testimonial {
		margin: 0 0 30px;
		background-color: #f6f6f6;
		padding: 15px;

		.info {
			text-align: right;

			p {
				margin-bottom: 0;
			}
		}
	}
}

@media all and (min-width: $smlWidth) {
	.testimonials {
		&.grid {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: stretch;

			.testimonial {
				width: calc(50% - 30px);
				
				&:nth-child(odd) {
					margin: 0 15px 30px 0;
				}

				&:nth-child(even) {
					margin: 0 0 30px 15px;
				}
			}
		}
	}
}

// @media all and (min-width: $medWidth) {

// }