@import "cw-mixins";

$bigWidth: 1400px;
$medWidth: 1024px;
$smlWidth: 768px;
$padding: 15px;
$columns: 12;

@import "cw-grid";

pre {
	position: relative;
	z-index: 9999;
	background-color: #fff;
	padding: 15px;
	border: solid 1px #ccc;
}

.featured-icon {
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	box-shadow: 0 0 0 1px #000;
	cursor: pointer;

	.loading {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.featured {
		background-color: green;
	}
}

// blocks
.cw-better-responsive-image-controls {
	position: relative;
	padding-top: 15px;

	.loading {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background-color: rgba(#fff, .75);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		box-shadow: 0 0 0 15px rgba(#fff, .75);;
	}

	* {
		font-family: sans-serif;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin: 0;
	}

	.input-mother {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-right: 10px;
		margin-bottom: 10px;

		&:last-child {
			margin-right: 0;
		}

		label {
			margin-right: 15px;
		}
	}


	button {
		border: 0;
		display: inline-block;
		background-color: #666;
		color: #fff;
		padding: 5px 10px;
		transition: .25s;
		cursor: pointer;
		transition: background-color .3s;

		&:hover {
			background-color: darken(#666, 10%);
			transition: background-color .3s;
		}
	}

	.cwib-wrap,
	.cwib-wrap-border {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.cwib-wrap-border {
		padding: 10px;
		border: solid 1px #ccc;
		border-radius: 5px;
	}
}

.wp-block-cw-better-responsive-images-block-better-responsive-images {
	text-align: center;

	[data-align="center"] & {
		img {
			margin: 0 auto;
		}
	}

	.editor-block-list__block-edit,
	.block-editor-block-list__block-edit {
		padding: 15px;
		border: solid 1px #ccc;
		border-radius: 5px;
	}

	.cwib-wrap {
		position: relative;

		.buttons-mother {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
	}

	img {
		display: block;
	}

	* {
		font-family: sans-serif;
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	button {
		border: 0;
		display: inline-block;
		background-color: #666;
		color: #fff;
		transition: .25s;
		cursor: pointer;
		transition: background-color .3s;

		&:hover {
			background-color: darken(#666, 10%);
			transition: background-color .3s;
		}
	}
}

.wp-block-cw-cpt-selector-block-cpt-selector {
	position: relative;
	
	.loader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background-color: rgba(#fff, .5);

		.inner {
			position: absolute;
			background-color: #fff;
			border-radius: 10px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 15px;
			line-height: 1;
			font-family: sans-serif;
			text-transform: uppercase;
			box-shadow: 0 0 100px 75px #fff;
		}
	}

	.cwpreviews {
		.inner {
			// position: relative;

			// &:after {
			// 	@include beforeafter;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	background: linear-gradient(rgba(#fff, 0), rgba(#fff, 0), rgba(#fff, .5), rgba(#fff, 1), rgba(#fff, 1));
			// 	z-index: 9999;
			// }

			ul {
				list-style-type: none;
				padding: 5px 2px;
				margin: 0;
			}
		}

		.title {
			text-align: center;
			margin-bottom: 10px;
			font-weight: normal;
			font-family: sans-serif;
			font-size: 1em;
			text-transform: uppercase;
		}

		.cwpreview {
			margin-bottom: 10px;
			font-size: .75em;
			text-align: left;
		}
	}

	.header-mother {
		border: solid 1px #e8e8e8;
		border-radius: 10px;
		margin-bottom: 10px;

		.header {
			font-family: sans-serif;
			opacity: .666;
			margin: 5px 0;
		}
	}

	.field-mother {
		// display: flex;
		// flex-direction: row;
		// align-items: center;

		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: solid 1px #e8e8e8;

		* {
			margin: 0;
			line-height: 1;
		}

		label {
			display: block;
			margin-bottom: 5px;
		}

		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
		}

		small {
			font-size: .5em;
			line-height: .5;
		}

		input, select {
			width: 100%;
		}
	}
}

// end blocks

.img-status {
	img {
		background-color: #f4f4f4!important;
	}
}

.cmb2-checkbox-list,
.cmb-type-checkbox,
.cmb-type-radio,
.cmb2-type-radio-list {
	li {
		display: inline-block;
		margin-right: 5px!important;
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: none!important;

		& + label {
			position: relative;;
			display: inline-block!important;
			background-color: #ccc;
			padding: 5px 10px 5px 20px!important;
			color: #666;
			transition: .25s;

			span {
				color: inherit;
				font-style: normal;
				display: inline-block!important;
				padding: 0!important;
			}

			&:hover {
				background-color: #A2B59D;
				color: #f4f4f4;
				transition: .25s;

				&:before,
				&:after {
					background-color: #f4f4f4;
					transition: .25s;
				}
			}

			&:before,
			&:after {
				position: absolute;
				display: block;
				content: '';
				background-color: #666;
				height: 2px;
				margin-top: -1px;
				transition: .25s;
			}

			&:before {
				left: 5px;
				top: 50%;
				width: 10px;
				transform: rotate(45deg);
			}

			&:after {
				left: 5px;
				top: 50%;
				width: 10px;
				transform: rotate(-45deg);
			}
		}

		&:checked {
			& + label {
				background-color: #408B2B;
				color: #fff;
				transition: .25s;

				&:before,
				&:after {
					background-color: #fff;
					transition: .25s;
				}

				&:before {
					left: 5px;
					top: 50%;
					width: 5px;
					margin-top: 0;
					transform: rotate(225deg);
				}

				&:after {
					left: 7px;
					top: 50%;
					width: 10px;
					transform: rotate(-225deg);
				}
			}
		}
	}
}