// global vars
@import "cw-globals";

html, body {
	margin: 0;
	padding: 0;
	color: $fontColor;
	box-sizing: border-box;
	font-family: $mainFont;
	font-weight: 400;
	font-style: normal;
}

body {
	position: relative;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	height: 100%;
	width: 100%;

	&.blog, &.archive, &.search {
		background-color: $liteGrey;
	}

	&.admin-bar {
		padding-top: 46px;
	}

	&.mobile-nav-open {
		overflow: hidden;
	}
}

* {
	outline: none!important;
	box-sizing: inherit;

	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 15px;
	font-size: 10px;
	background-color: #fff;
	margin: 15px;
	word-wrap: break-word;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}

.iframe-mother {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;

	iframe {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}

.wp-block-cw-better-responsive-images-block-better-responsive-images {
	&.aligncenter {
		img {
			margin: 0 auto;
		}
	}

	img {
		display: block;
	}
}

.grey-bg {
	position: relative;
	background-color: $liteGrey;

	&:after {
		@include beforeafter;
		width: 100vw;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: inherit;
		z-index: -1;
	}
}

// main content
[role="main"] {
	position: relative;
	// margin-bottom: 30px;
	z-index: 1;
	
	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 15px;

		&:last-child {
			margin-bottom: 0;
		}

		&.section-title {
			margin-bottom: 30px;
		}

		&.mini-title {
			margin: 30px 0;
		}
	}

	.uagb-column__inner-wrap {
		padding: 0!important;
	}

	.home & {
		// margin-bottom: 0;
	}

	&.single-post {
		margin-bottom: 75px;

		// .wp-post-image {
		// 	width: 100%;
		// }
	}

	.entry-content {
		margin-bottom: 30px;
	}
}

.default-margin-bottom, .margin-bottom, .bottom-margin {
	margin-bottom: 15px;
}

.no-marg {
	margin-top: 0!important;
	margin-right: 0!important;
	margin-bottom: 0!important;
	margin-left: 0!important;
}

.fw-bg {
	position: relative;
	background-size: auto!important;

	&:after {
		@include beforeafter;
		width: 100vw;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: inherit;
		z-index: -1;
	}
}

.center-contents .uagb-section__inner-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	> div {
		margin: 0 7.5px;
	}
}

article.post {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 15px 0;

	.article-title {
		color: $green;
	}

	.article-title, .inner {
		padding: 0 15px;
	}

	img {
		display: block;
		margin-bottom: 15px;
		width: 100%;
	}

}

@media all and (min-width: $smlWidth) {
	.default-margin-bottom, .margin-bottom, .bottom-margin {
		margin-bottom: 30px;
	}

	[role="main"] {
		.blog-list {
			padding-right: 30px;
		}

		&.single-post {
			margin-bottom: 150px;
		}
	}
}

@media all and (min-width: $medWidth) {

}


@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow:none !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	}
	a, a:visited {  }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	body {background:white; 
		font-size:10pt; 
		margin:0; }
	#sidebar { display:none; }
	#header { height:75px; }
	#content{ margin-left:0; 
		float:none; 
		width:auto; }
	.demo .red { color:black; 
		font-weight:bold; }
	#content a { font-weight:bold; 
		color:#000066; 
		text-decoration:underline; }
	#content{ margin-left:0; 
		float:none; 
		width:auto; }
	#footer, .ad { display:none; }
	h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
		page-break-inside:avoid; }
	h3 { margin-left:10px; 
		margin-bottom:0px; 
		padding-bottom:0px; }
	blockquote, table, pre { page-break-inside:avoid; }
	ul, ol, dl  { page-break-before:avoid; }
	img.centered { display: block; 
		margin-left: auto; 
		margin-right: auto; }
	img.right { padding: 4px; 
		margin: 0 0 2px 7px; 
		display: inline; }
	img.left { padding: 4px; 
		margin: 0 7px 2px 0; 
		display: inline; }
	.right { float: right; }
	.left { float: left; }
	img { page-break-inside:avoid; 
		page-break-after:avoid; }
}